extends layout.pug 
block Content
    .archivedNotes
        h2 Archived notes
        .notesList
            if notes.length
                each note in notes
                    p.noteItem #{note.description}
                        span.buttons
                            a.btnDeleteArchived(href=`/notes/${note.id}/deletearchived`) Delete
                            a.btnArchive(href=`/notes/${note.id}/unarchive`) Unarchive
            else
                p There is no notes archived