extends layout.pug
block Content
    .createCont
        if success 
            p.success New note created succesfully!
        if error 
            p.error Please Fill the Form
        form.addForm(action="/create", method="post")
            input.addInput(type="text" name = "note")
            button.btnAdd Add new note