extends layout
block Content 
    .updateContainer
        if error 
            p.error Input cannot be empty...
        form(action = `/notes/${id}/update`, method="post")
            input(type="text" name='note' value = `${note.description}`)
            button.btnUpdate Update