extends layout.pug
block Content
    .intro
        p.introo “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”
        p.welcome This is a basic note-taking app, you can create, delete and update notes