doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/static/style.css")
        title Note taking app
    body 
        .container 
            .nav-container
                a(href="/home") Home
                a(href="/notes") Notes
                a(href="/create") Create
                a(href="/archive") Archived
    block Content   