extends layout.pug
block Content
    .notesCont
        h2 Your notes
        .notesList
            if (notes.length !== 0)
                each note in notes
                    p.noteItem #{note.description}
                        span.buttons
                            a.btnEdit(href=`/notes/${note.id}/update`) Edit 
                            a.btnDelete(href=`/notes/${note.id}/deleteunarchived`) Delete
                            a.btnArchive(href=`/notes/${note.id}/archive`) Archive
            else
                p You do not have any notes yet...